<!DOCTYPE html>
<script>
  var delindex = -1

  function delsong(index, title, singer) {
    if(delindex == index) {
      document.delact.title.value=title
      document.delact.singer.value=singer
      document.delact.submit()
    } else delindex = index;
  }
  function showuserlist(name, task) {
    document.userlistact.name.value=name
    document.userlistact.task.value=task
    document.userlistact.submit()
  }
</script>
<form action="/delsong" name="delact" method="POST">
  <input type="hidden" id="title" name="title" value="">
  <input type="hidden" id="singer" name="singer" value="">
  <input type="hidden" id="name" name="name" value="<%= user.name %>">
</form>
<form action="/showuserlist" name="userlistact" method="POST">
  <input type="hidden" id="name" name="name" value="">
  <input type="hidden" id="task" name="task" value="">
</form>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id='flexDiv'>
      <div id='header'>
        <div id='search' onclick="location.href='/top200'"></div>
        <div style="flex: 3; justify-content: center;">
          <a style="font-weight: 600; color: #fff; font-size: 60px;
                    text-align: center; justify-content: center; align-items: center;
                    display: flex;">
            신청곡 리스트
          </a>
        </div>
        <div id='streamlist' onclick="location.href='/streamed'"></div>
      </div>
      <div id='body'>
        <ul class="list">
          <% var last_month=""
             var last_date=""
             var index = 1
          %>
          <% for(var i=0; i < songlist.length; i++) { %>
            <% if(last_month != songlist[i].up_date.getMonth() + 1 || last_date != songlist[i].up_date.getDate()) { 
              last_month=songlist[i].up_date.getMonth() + 1;
              last_date=songlist[i].up_date.getDate();
            %>
            <hr>
            <div style="justify-content: center; align-items: center;">
              <a style="color:rgb(116, 114, 121); font-size: 40px;"><%= songlist[i].up_date.getMonth() + 1 %>월 <%= songlist[i].up_date.getDate() %>일</a>
            </div>
              <% } %>
            <li>
              <div class="songli">
                <div class="topimage" style="background-image: url(<%= songlist[i].image %>);flex:3;background-size: 100%; margin-right:10px" OnClick="location.href='<%= songlist[i].url %>'">
                </div>
                <div style="flex: 7; flex-direction: column; justify-content: center; align-items: flex-start;" OnClick="location.href='<%= songlist[i].url %>'">
                  <a class="title"><%= songlist[i].title %></a>
                  <a class="singer"><%= songlist[i].singer %></a>
                </div>
                <div style="flex: 11; justify-content: start; align-items: center;" OnClick="javascript:showuserlist('<%= songlist[i].name %>','<%= songlist[i].task %>')">
                  <a class="author">[<%= songlist[i].task %>]&nbsp</a>
                  <a class="author"><%= songlist[i].name %></a>
                </div>
                <!--
                  <% if(user.id=="admin" && i==0) { %>
                    <div style="flex: 1; justify-content: start; align-items: center;">
                      <form action="/streaming" method="POST" class="streamed" style="display: inline;">
                        <button type="submit" class="streamed">재생시 클릭</button>
                        <input type="hidden" id="title" name="title" value="<%= songlist[i].title %>">
                      </form>
                    </div>
                  <% } %>
                -->
                <% if(((user.name==songlist[i].name) && (user.task==songlist[i].task)) || user.name=="관리자") { %>
                  <div style="flex: 1; justify-content: start; align-items: center;">
                    <button class="del" OnClick="javascript:delsong('<%= i %>','<%= songlist[i].title %>','<%= songlist[i].singer %>')">
                      X
                    </button>
                  </div>
                <% } %>
              </div>
            </li>
          <% } %>
        </ul>
      </div>
      <div class="plusbutton" onclick="location.href='/songsin'">
      </div>
    </div>
  </body>
</html>