<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <div class="login-page" style="flex-direction: column;">
      <div class="form">
        <form class="login-form" action="/save" method="POST">
          <input type="text" placeholder="제목" name='title' value="<%= title %>"required/>
          <input type="text" placeholder="가수" name='singer' value="<%= singer %>"required/>
          <input type="hidden" id="name" name="name" value="<%= user.name %>"/>
          <input type="hidden" id="task" name="task" value="<%= user.task %>"/>
          <input type="hidden" id="image" name='image' value="<%= image %>"/>
          <button type="submit">신청</button>
        </form>
      </div>
    </div>
  </body>
</html>