<!DOCTYPE html>
<script>
  var backindex = -1

  function backsong(index, _id) {
    console.log(_id)
    if(backindex == index) {
      document.backact._id.value=_id
      document.backact.submit()
    } else backindex = index;
  }
</script>
<form action="/backsong" name="backact" method="POST">
  <input type="hidden" id="_id" name="_id" value="">
</form>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id='flexDiv'>
      <div id='header'>
        <div id='back' onclick="location.href='/index'"></div>
        <div style="flex: 3; justify-content: center;">
          <a style="font-weight: 600; color: #fff; font-size: 60px;
                    text-align: center; justify-content: center; align-items: center;
                    display: flex;">
            재생한 곡 리스트
          </a></div>
        <div id='logout' onclick="location.href='/logout'"></div>
      </div>
      <div id='body'>
        <ul class="list">
          <% var last_month=""
             var last_date=""
             var index = 1
          %>
          <% for(var i=songlist.length - 1; i >= 0; i--) {%>
            <% if(last_month != songlist[i].up_date.getMonth() + 1 || last_date != songlist[i].up_date.getDate()) { 
              last_month=songlist[i].up_date.getMonth() + 1;
              last_date=songlist[i].up_date.getDate();
            %>
            <div style="justify-content: center; align-items: center;">
              <a style="color:rgb(116, 114, 121); font-size: 40px;"><%= songlist[i].up_date.getMonth() + 1 %>월 <%= songlist[i].up_date.getDate() %>일</a>
            </div>
              <% } %>
            <li>
              <div class="songli">
                <div class="topimage" style="<% if(songlist[i].image != '') { %> background-image: url(<%= songlist[i].image %>); <% } %>" OnClick="location.href='<%= songlist[i].url %>'">
                </div>
                <div style="flex: 8; flex-direction: column; justify-content: center; align-items: flex-start;" OnClick="location.href='<%= songlist[i].url %>'">
                  <a class="title"><%= songlist[i].title %></a>
                  <a class="singer"><%= songlist[i].singer %></a>
                </div>
                <div style="flex: 9; justify-content: start; align-items: center;" OnClick="javascript:showuserlist('<%= songlist[i].name %>','<%= songlist[i].task %>')">
                  <a class="author">[<%= songlist[i].task %>]&nbsp</a>
                  <a class="author"><%= songlist[i].name %></a>
                </div>
                <div style="flex: 1; justify-content: start; align-items: center;">
                </div>                
                <% if(user.id=="admin") { %>
                  <div style="flex: 1; justify-content: start; align-items: center;">
                    <button class="del" OnClick="javascript:backsong('<%= i %>','<%= songlist[i]._id %>')">
                      X
                    </button>
                  </div>
                <% } %>
              </div>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </body>
</html>